<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Julien Gaucher{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/blog/css/bootstrap.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <div class="container">
            <div class="row">
                <footer class="footer">
                    <p>&copy; Julien Gaucher {{ "now"|date("Y") }}</p>
                </footer>
            </div>
        </div>

    </body>
</html>
