{% extends '::admin.html.twig' %}

{% block body -%}

    <div class="container">
    	<div class="row">
			<h1>Création de catégorie</h1>

		    {{ form(form) }}

			<ul class="record_actions">
				<li>
					<a href="{{ path('pageCategorie') }}">Retour à la liste</a>
				</li>
			</ul>
    	</div>
    </div>

   
{% endblock %}
