{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
		{% for Categorie in Categories %}
			<li>{{ Categorie.nom }}</li>
		{% endfor %}


      

    </div> <!-- /container -->


{% endblock %}
