{% extends '::admin.html.twig' %}

{% block body %}

	

    
    <div class="container">



      

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->


{% endblock %}