{% extends '::admin.html.twig' %}

{% block body %}
    <div class="container">

     <!-- Site footer -->
            <footer class="footer">
            <p>&copy; Julien Gaucher {{ "now"|date("Y") }}</p>
            </footer>

    </div> <!-- /container -->
{% endblock %}