{% extends '::admin.html.twig' %}

{% block body %}
    <div class="container">


















      <!-- Site footer -->
      <footer class="footer">
      </footer>

    </div> <!-- /container -->
{% endblock %}